:root {
  --black: #000000;
  --blue: #0B60B0;
  --light-blue: #40A2D8;
  --tan: #F0EDCF;
  --dark-blue: #002251;
  --white: #FFFFFF;
  --teal: #002f4c;
  --light-gray: #009696;
  --red: #a80000;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body {
  padding: 0;
  margin: 0;
}

.main-container{
  background-image: url("/img/snow-sunset.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  height: 100%;
  background-image: url("/img/snow-sunset.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 198px 0 0 0;
}

.about-me {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-rows: 1fr 2fr;
  height: 130vh;
}

.about-me h1 {
  grid-row: 1/2;
  text-align: center;
  font-size: 150px;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  padding-top: 170px;
}
.intro{
  background-image: url(../img/snowfall.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column: 2/3;
  grid-row: 1/4;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
  padding-top: 100px;
}
.more-about-me{
  background-image: url(../img/tokyo_train.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column: 2/3;
  grid-row: 1/4;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
  padding-bottom: 250px;
}
.more-about-me-two{
  background-image: url(../img/red_2.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column: 2/3;
  grid-row: 1/3;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
}
.intro h2 {
  text-align: center;
  font-size: 100px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
}
.intro p {
  font-size: 25px;
  font-family: "Madimi One", sans-serif;
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
}
.more-about-me h2 {
  text-align: center;
  font-size: 100px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
}
.more-about-me p {
  font-size: 25px;
  font-family: "Madimi One", sans-serif;
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
}
.more-about-me-two h2 {
  text-align: center;
  font-size: 100px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
}
.more-about-me-two p {
  font-size: 25px;
  font-family: "Madimi One", sans-serif;
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
}


.about-me-container h1 {
  grid-column: 1/4;
  grid-row: 3/4;
  text-align: center;
  font-size: 80px;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  /* transition: top 0.3s ease; */
  position: relative;


}

 
.scroll-up {
  grid-column: 3/4;
  grid-row: 4/5;
  margin: 164px 0 0 362px;
  height: 40px;
  width: 40px;
  display: block;
  outline: 1px solid rgba(666,666,666,.08);
  position: fixed;
  bottom: 20px;
  left: -332px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  svg line {
      stroke-width: 2;
      stroke: white;
      fill: none;
      stroke-dasharray: 20;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
  }
  &:hover svg line {
    &.top {
      -webkit-transform: translateX(-40px);
      transform: translateX(-40px);
    }
    &.bottom {
      -webkit-transform: translateX(40px);
      transform: translateX(40px);
    }
    &.left {
      -webkit-transform: translateY(40px);
      transform: translateY(40px);
    }
    &.right {
      -webkit-transform: translateY(-40px);
      transform: translateY(-40px);
    }
  }
}

.scroll-up {
  .left-bar {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 19px;
    left: 5px;
    width: 18px;
    display: block;
    transform: rotate(-45deg);
    &:after {
      content: "";
      background-color: white;
      width: 18px;
      height: 1px;
      display: block;
      border-radius: 1px;
      transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
      transform-origin: right center;
      z-index: -1;
    }
  }
  .right-bar {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    top: 19px;
    left: 17px;
    width: 18px;
    display: block;
    transform: rotate(45deg);
    border-radius: 2px;
    &:after {
      content: "";
      background-color: white;
      width: 18px;
      height: 1px;
      display: block;
      border-radius: 1px;
      transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
      transform-origin: left center;
      z-index: -1;
    }
  }
  &:hover {
    transition: all .1s;
    .left-bar:after {
      transform: rotate(-10deg);
    }
    .right-bar:after {
      transform: rotate(10deg);
    }
  }
}

@media(max-width: 600px){
  .about-me h1{
    font-size: 80px;
  }
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font-size: 70px;
      margin-bottom: 40px;
    }
    p{
      font-size: 20px;
      padding: 0 15px 150px 15px;
      width: 80%;
      text-align: center;
    }
  }
  .more-about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font-size: 70px;
      margin-bottom: 40px;
    }
    p{
      font-size: 20px;
      padding: 0 15px 150px 15px;
      width: 80%;
      text-align: center;
    }
  }
  .more-about-me-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      font-size: 70px;
      margin-bottom: 40px;
    }
    p{
      font-size: 20px;
      padding: 0 15px 150px 15px;
      width: 80%;
      text-align: center;
    }
  }

  .about-me-container p{
    font-size: 20px;
    width: 65%;
  }
}

