:root {
  --black: #000000;
  --blue: #0B60B0;
  --light-blue: #40A2D8;
  --tan: #F0EDCF;
  --dark-blue: #002251;
  --white: #FFFFFF;
  --teal: #002f4c;
  --light-gray: #009696;
}

body {
  padding: 0;
  margin: 0;
}

.main-container {
  height: 100vh;
  background-image: url("/img/snow-sunset.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow: hidden; 
}

.calculator-project,
.ttt-project,
.contact-form {
  padding: 0 190px 0 0;
}
.responsive-site{
  padding: 0px 152px 0px 0px;
}
.resume-donald{
  padding: 0px 152px 0px 0px;
}
.hair-salon{
  padding: 0px 152px 0px 0px;
}

.calculator-project{
  grid-column: 2/3;
  grid-row: 2/3;
}
.ttt-project{
  grid-column: 3/4;
  grid-row: 2/3;
}
.contact-form{
  grid-column: 4/5;
  grid-row: 2/3;
}
.responsive-site{
  grid-column: 2/3;
  grid-row: 3/4;
}
.resume-donald{
  grid-column: 3/4;
  grid-row: 3/4;
}
.hair-salon{
  grid-column: 4/5;
  grid-row: 3/4;
}

.calculator-project img,
.ttt-project img,
.contact-form img,
.responsive-site img,
.resume-donald img,
.hair-salon img {
  width: 150%; 
  height: auto; 
  transform: translateY(20%);
  transition: transform 0.5s ease; 
  border: 5px solid rgba(255, 255, 255, 0.761);
  border-radius: 5px;
}

.calculator-project:hover img,
.ttt-project:hover img,
.contact-form:hover img,
.responsive-site:hover img,
.resume-donald:hover img,
.hair-salon:hover img{
  transform: translateY(0); 
  cursor: pointer;
}

.project-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Initially transparent */
  transition: opacity 0.5s ease;
  font-family: "Madimi One", sans-serif;
  color: var(--white);
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  font-size: 50px; /* Adjust font size as needed */
  pointer-events: none; /* Prevents the text from being interactive */
}

.calculator-project:hover .project-text,
.ttt-project:hover .project-text,
.contact-form:hover .project-text,
.responsive-site:hover .project-text,
.resume-donald:hover .project-text,
.hair-salon:hover .project-text {
  opacity: 1; 
} 


@media(max-width: 1920px){
  .calculator-project,
  .ttt-project,
  .contact-form {
    padding: 0 150px 0 0;
  }
}