@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

:root {
  --black: #000000;
  --blue: #0B60B0;
  --light-blue: #40A2D8;
  --tan: #F0EDCF;
  --dark-blue: #002251;
  --white: #FFFFFF;
  --teal: #002f4c;
  --light-gray: #009696;
  --dark-gray: #262626a9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Madimi One", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header{
  border: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--dark-gray);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 20px;
  font-weight: 400;
  font-family: "Madimi One", sans-serif;
  color: white;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo {
  font-size: 30px;
  font-weight: 500;
  font-family: "Madimi One", sans-serif;
  color: white;
}

.active {
  text-decoration: none;
  color: #482ff7;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 6.8rem;
    flex-direction: column;
    background-color: var(--dark-gray);
    width: 100%;
    /* border-radius: 10px; */
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
