:root {
  --black: #000000;
  --blue: #0B60B0;
  --light-blue: #40A2D8;
  --tan: #F0EDCF;
  --dark-blue: #002251;
  --white: #FFFFFF;
  --teal: #002f4c;
  --light-gray: #009696;
}

.main-container {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.title{
  font-size: 150px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Madimi One", sans-serif;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  padding-top: 300px;
}

@media(max-width: 600px){
  .title{
    font-size: 80px;
    padding-top: 420px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


